@model Quan_Ly_Sinh_Vien.Database.MonHoc

@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Môn Học</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Mục Môn Học</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <h4>Edit</h4>

            <h4>Môn Học</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MaMonHoc" />
                        <div class="form-group">
                            <label asp-for="TenMonHoc" class="control-label"></label>
                            <input asp-for="TenMonHoc" class="form-control" />
                            <span asp-validation-for="TenMonHoc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SoTinChi" class="control-label"></label>
                            <input asp-for="SoTinChi" class="form-control" />
                            <span asp-validation-for="SoTinChi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HocKy" class="control-label"></label>
                            <input asp-for="HocKy" class="form-control" />
                            <span asp-validation-for="HocKy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaGiangVien" class="control-label"></label>
                            <input asp-for="MaGiangVien" class="form-control" />
                            <span asp-validation-for="MaGiangVien" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GiangVienPhuTrach" class="control-label"></label>
                            <input asp-for="GiangVienPhuTrach" class="form-control" />
                            <span asp-validation-for="GiangVienPhuTrach" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            </div>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
